body{
    background-color:lightgreen;
}
.poster{
    width:250px;
    height:250px;
    margin-right:5px;
}
.heading-part{
    display:flex;
    gap:70vw;
    margin-bottom:20px
}
.movies-list{
    color:black;
    font-weight: bolder;
    font-size:40px;
}
.display{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.image-name{
    display:flex;
    flex-direction: column;
}
.title{
    width:250px
}
.hovering-part{
    display:flex;
    flex-direction: row;
}
.hovering-part img{
    width:30px;
    height:30px;
}
.image-name{
    position: relative;
}
.hovering-part{
    position: absolute;
    width:98%;
    bottom: 20px;
    background-color: grey;
  overflow: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.hovering-part-child1{
    padding-left: 10px;
    color:white;
    margin-right: 20px;
}
.image-name:hover .hovering-part{
    -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);

}
.favourite-part{
    margin-top:20px;
}
.favourite-heading{
    color:black;
    font-weight: bolder;
    font-size:40px;
}
